body {
    font-family: 'Arial', sans-serif;
}

.card-wrapper {
    position: relative;
    width: 88.9mm;
    height: 50.8mm;
    background-color: #ffffff;
    border: 0.75pt solid #ccc;
    overflow: hidden;
}
.tri1{
    left: -11mm;
    top: 38mm;
    width: 0;
    height: 0;
    border-top: 33pt solid rgb(21, 65, 94);
    border-right: 53pt solid transparent;
    position: absolute;
    rotate: 131deg;
}

.tri2 {
    left: -1mm;
    top: 49mm;
    width: 0;
    height: 0;
    border-top: 50pt solid rgb(18, 85, 133);
    border-right: 95pt solid transparent;
    position: absolute;
    rotate: 40deg;
    }
.tri3{
    left: 84mm;
    top: -55mm;
    width: 44.18mm;
    height: 8mm;
    border-top: 198pt solid rgb(18, 85, 133);
    border-right: 354pt solid transparent;
    position: absolute;
    rotate: -40deg;
}
    .tri4{
        left: 75mm;
    top: -8mm;
    width: 0;
    height: 0;
    border-top: 43pt solid rgb(21, 65, 94);
    border-right: 35pt solid transparent;
    position: absolute;
    rotate: -131deg;
        }
        .rect5{
        width: 140mm;
        height: 0mm;
        border-bottom: 12pt solid rgb(236,211,70);
        border-left: 3pt solid transparent;
        rotate: 47deg;
}
        .rect6{
            width: 5mm;
            height: 55mm;
            top: 5mm;
            background: rgb(236, 211, 70);
            transform: skew(50deg, -19deg);
            position: absolute;
        }
.rect7{
    right: -221mm;
    width: 171mm;
    height: 239mm;
    top: 47mm;
    background:rgb(21, 65, 94);
    transform: skew(-136deg);
    position: absolute;
}
.rect8{
    left: -16mm;
    width: 85mm;
    height: 4mm;
    top: 0mm;
    background: rgb(21, 65, 94);
    transform: skew(-320deg);
    position: absolute;  
}
.tri9{
    left: 0mm;
    top: 35.71mm;
    border-bottom: 27pt solid rgb(75, 178, 178);
    border-right: 23.25pt solid transparent;
    border-left: 27pt solid transparent;
    height: 0;
    width: 14.28mm;
    position: absolute;
    rotate: -141deg;
}
.tri10{
    left: 60mm;
    top: 6.15mm;
    border-bottom: 27pt solid rgb(81, 181, 181);
    border-right: 23.25pt solid transparent;
    border-left: 21.75pt solid transparent;
    height: 0;
    width: 14.28mm;
    position: absolute;
    rotate: 47deg;
}
.rect11{
    left: 43mm;
    width: 5.4mm;
    height: 39mm;
    top: 23mm;
    background:rgb(21, 65, 94);
    transform: skewY(-49deg);
    rotate: -90deg;
    position: absolute;
}
.card1-content
{
    margin-left: -30.42pt;
    position: absolute;
    top: 60.854mm;
    left: 206.375mm;
    margin-top: 7pt;
    transform: translate(-30%, -50%);
    text-align: start;
    color: #333;
}
 .company-name{
    position: absolute;
    top: -3mm;
    left: 31mm;
    margin-top: 26.458mm;
    text-align: center;
    
}
.slogan{
    position: absolute;
    top: 30mm;
    left: 37mm;
    text-align: center;
    color:rgb(72, 173, 193) ;
}
.org-logo-img{
    position: absolute;
    height: 27mm;
    width: 25mm;
    top: 4mm;
    left: 33mm;
}
.org-website
  {
    position: absolute;
    top: 40.56mm;
    left: 28.92mm;
    font-style: normal;
    font-size: 8pt;
    color: white;
  }
  
.card2-background
  {
    background-color: white;
    height: 100%;
  }
  .tri12{
    left: -11mm;
    top: 38mm;
    width: 0;
    height: 0;
    border-top: 33pt solid rgb(21, 65, 94);
    border-right: 53pt solid transparent;
    position: absolute;
    rotate: 131deg;
}
.tri13{
    left: -1mm;
    top: 49mm;
    width: 0;
    height: 0;
    border-top: 50pt solid rgb(18, 85, 133);
    border-right: 95pt solid transparent;
    position: absolute;
    rotate: 40deg;
    }

    .rect14{
        width: 5mm;
        height: 55mm;
        top: 5mm;
        background: rgb(236, 211, 70);
        transform: skew(50deg, -19deg);
        position: absolute;
    }
    .tri15{
        left: 0mm;
        top: 36mm;
        border-bottom: 27pt solid rgb(75, 178, 178);
        border-right: 23.25pt solid transparent;
        border-left: 27pt solid transparent;
        height: 0;
        width: 14.28mm;
        position: absolute;
        rotate: -141deg;
    }
    .rect16{
        right: -221mm;
        width: 171mm;
        height: 239mm;
        top: 47mm;
        background:rgb(21, 65, 94);
        transform: skew(-136deg);
        position: absolute;
}
.tri17{
    left: -11mm;
    top: 5mm;
    width: 0;
    height: 0;
    border-top: 48pt solid rgb(21, 65, 94);
    border-right: 60pt solid transparent;
    position: absolute;
    rotate: 131deg;
}

.tri18{
    left: 3mm;
    top: -7mm;
    width: 0mm;
    height: 0;
    border-top: 40pt solid rgb(18, 85, 133);
    border-right: 40pt solid transparent;
    position: absolute;
    rotate: -135deg;
}
.rect19{
    width: 3mm;
    height: 12mm;
    top: 3mm;
    background: rgb(236, 211, 70);
    transform: skew(105deg, 49deg);
    position: absolute;
    left: 12mm;
    rotate: 149deg;

}
.tri20{
    left: -1.8mm;
    top: 7.40mm;
    border-bottom: 27.75pt solid rgb(75, 178, 178);
    border-right: 20.25pt solid transparent;
    border-left: 22.5pt solid transparent;
    height: 0.26mm;
    width: 16.40mm;
    position: absolute;
    rotate: -46deg;

}
.rect21{
    left: 22mm;
    width: 69mm;
    height: 4.8mm;
    top: 0mm;
    background: rgb(21, 65, 94);
    transform: skew(-399deg);
    position: absolute;

}
.rect22{
    left: 52mm;
    width: 9mm;
    height: 0.4mm;
    top: 16mm;
    background: rgb(50, 50, 129);
    transform: (22deg);
    position: absolute;
}

.party-name{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: inherit;
    width: 58.91mm;
    font-size: 3.9mm;
    font-weight: bold;
    margin-left: 38mm;
    margin-top: -44mm;
    color: rgb(56, 108, 130);
    }
   
    
    .party-job-title{
    font-family: serif;
    font-optical-sizing: auto;
    font-size: 3.2mm;
    margin-top: 0pt;
    margin-left: 34mm;
    }
    .party-phone-lable{
     top: 20mm;
     position: absolute;
     left: 55mm;
     font-size: 11px;
    }
    .party-phone-label2{
    top: 23mm;
    position: absolute;
    left: 55mm;
    font-size: 8.25pt;
       }

    .mail{
    top: 29mm;
    position: absolute;
    left: 55mm;
    font-size: 6pt;
     }
     .mail2{
        top: 31mm;
        position: absolute;
        left: 55mm;
        font-size: 6.75pt;
      }
      .mail-img{
        position: absolute;
        width: 6mm;
        height: 9mm;
        top: 26mm;
        left: 48mm;
    }
    .phone-img{
       
        position: absolute;
        width: 6.5mm;
        height: 9.5mm;
        top: 19mm;
        left: 47mm;
    }
    .org-address
    {
        position: absolute;
        top: 36mm;
        left: 54.23mm;
        font-style: normal;
        font-size: 6pt;
    }
    .home-img{
        position: absolute;
        top: 34mm;
        left: 48mm;
        font-style: normal;
        font-size: 3pt;
        width: 6mm;
    }
    .company-name2{
        position: absolute;
        top: 1mm;
        left: 20mm;
        margin-top: 26.458mm;
        text-align: center;
        font-size: 7.2pt;

       
    }
    .slogan2{
        position: absolute;
        top: 31mm;
        left: 24mm;
        text-align: center;
        font-size: 6.96pt;
        color: rgb(72, 173, 193);
    }
    .org-logo-img2{
        position: absolute;
        height: 24mm;
        width: 16mm;
        top: 11mm;
        left: 21mm;
    }
   
    
    
    
  

    






