*{
  margin: 0px;
  /* padding: 0px; */
  font-family: sans-serif;
}



.card-wrapper{
  margin: auto;
  /* width: 50%; */
  /* padding: 26mm; */
  /* background-image: radial-gradient(gray); */
}

.card-background{
  background-color: rgb(206, 204, 204);
  height: 104mm;
  width: 133%;
  transform: rotate(-17deg);
  position: absolute;
  left: -60mm;
  top: 78mm;
}

.card1-background{
  height:100mm;
  width: 150mm;
  border-radius: 5mm;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}




.left-bottom{

  height: 21mm;
  width: 47mm;
  transform: skew(-24deg);
  border-bottom-right-radius: 20px;
  background: rgb(1, 32, 63);
  top: 60mm;
  left: -4mm;
  position: absolute;
  overflow: hidden;
}

.right-bottom{
  height: 21mm;
  width: 118mm;
  transform: skew(-23deg);
  border-top-left-radius: 20px;
  background: rgb(255, 177, 27);
  top: 60mm;
  left: 52mm;
  position: absolute;
  text-align: center;
}
.black-line{
  left: -7mm;
    top: 90.5mm;
    width: 160mm;
    height: 10mm;
    background: #100e0e !important;
    transform: skewX(-50deg);
    position: absolute;
}
.tri-1{
  position: absolute;
    left: 120mm;
    top: 65mm;
    width: auto;
    height: auto;
    border-style: solid !important;
    border-width: 0mm 0mm 84mm 92mm;
    z-index: 144;
    border-color: transparent transparent transparent #100e0e !important;
    transform: rotate(40deg);
}
.yline{
  left: 111mm;
    top: 55.5mm;
    width: 55mm;
    height: 55mm;
    border-top: 10pt solid #dbaa18 !important;
    border-right: 10pt solid #dbaa18 !important;
    border-left: 10pt solid #dbaa18 !important;
    border-width: 5mm;
    position: absolute;
    transform: rotate(315deg);
    border-radius: 15%;
}
.tline{
    left: 124mm;
    top: 62.5mm;
    width: 35mm;
    height: 50mm;
    border-top: 5pt solid #dbaa18 !important;
    border-right: 5pt solid #dbaa18 !important;
    border-left: 5pt solid #dbaa18 !important;
    border-width: 5mm;
    position: absolute;
    transform: rotate(315deg);
    border-radius: 15%;
}




.card2-background{
  height:100mm;
  width: 150mm;
  /* border: 1px solid black; */
  border-radius: 5mm;
  overflow: hidden;
  position: relative;
  margin-top: 13mm;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.left-top{
  height: 24mm;
  width: 68mm;
  transform: skew(-24deg);
  border-bottom-right-radius: 20px;
  background: rgb(255, 177, 27);
  top: 9mm;
  left: -8mm;
  position: absolute;
  overflow: hidden;
}


.right-bottom2{
  height: 47mm;
  width: 112.44mm;
  transform: skew(-34deg);
  border-top-left-radius: 40px;
  background: rgb(1, 32, 63);
  top: 40mm;
  left: 54mm;
  position: absolute;
}
.bottom{
  height: 16mm;
  width: 160mm;
  transform: skew(-23deg);
  border-top-left-radius: 20px;
  background: rgb(255, 177, 27);
  top: 85mm;
  left: 20mm;
  position: absolute;
}
.black-line2{
  left: -7mm;
    top: 90.5mm;
    width: 160mm;
    height: 10mm;
    background: #100e0e !important;
    transform: skewX(-50deg);
    position: absolute;
}
.tri-2{
  position: absolute;
    left: 120mm;
    top: 65mm;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 0mm 0mm 84mm 92mm;
    z-index: 144;
    border-color: transparent transparent transparent #100e0e;
    transform: rotate(40deg);
}
.yline-2{
  left: 111mm;
    top: 55.5mm;
    width: 55mm;
    height: 55mm;
    border-top: 10pt solid #dbaa18 !important;
    border-right: 10pt solid #dbaa18 !important;
    border-left: 10pt solid #dbaa18 !important;
    border-width: 5mm;
    position: absolute;
    transform: rotate(315deg);
    border-radius: 15%;
}
.tline-2{
  left: 124mm;
    top: 62.5mm;
    width: 35mm;
    height: 50mm;
    border-top: 5pt solid #dbaa18 !important;
    border-right: 5pt solid #dbaa18 !important;
    border-left: 5pt solid #dbaa18 !important;
    border-width: 5mm;
    position: absolute;
    transform: rotate(315deg);
    border-radius: 15%;
}







/* 
body {
  font-family: 'Arial', sans-serif;
} */




.card1-content
{
  margin-left: 23px;
  position: absolute;
  top: 27%;
  left: 49%;
  margin-top: 7pt;
  transform: translate(-30%, -50%);
  text-align: start;
  color: #333;
}

.party-name
{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: inherit;
  width: 168pt;
  font-size: 1.9em;
  font-weight: bold; 
  color: black;
}

.party-job-title
{
  font-family: serif;
  font-optical-sizing: auto;
  font-size: 1.4em;
  margin-top: -1pt;
  color: black;
}

.qr-img
{
  max-width: 21%;
  height: auto;
}

.qr-code
{
  top: 12pt;
  left: -70pt;
  position: absolute;
}

.company
{
  font-weight: 700;
  font-size: 1.0em;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  margin-top: -1pt;
  color: black;
}
.org-circle{
  top: 53mm;
  left: 100mm;
  height: 73mm;
  width: 109mm;
  position: absolute;
}
.org-circle img {
  top:-88mm;
  left:-50mm;
  height:35mm;
  width:35mm;
  position: absolute;
  border-radius: 200mm;
  /*border-bottom-left-radius: 140mm;
  border-top-right-radius: 140mm;*/
}
.profile{
  left: 5mm;
  top: 50mm;
  border-radius: 0%;
  width: 10mm;
  height: 5mm;
  font-size: medium;
}
.profile-d{
  font-weight: normal;
    font-family: "Roboto Slab", serif;
    font-size: 2.1em;
    margin-top: -63pt;
    color: black;
    margin-left: -20%;
}
svg.bi.bi-person-fill{
    margin-left: -45mm;
    margin-top: -30mm;
    border-radius: 0%;
    width: 25mm;
    height: 25mm;
    font-size: medium;
}

.party-phone
{
font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  margin-top: 16pt;
  position: relative;
  top: 0pt;
  left: -130pt;
}

.party-email
{
font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  position: relative;
  top: 16pt;
  left: -129pt;
}
.party-location{
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  position: relative;
  top: 30pt;
  left: -130pt;
}
.bi.bi-telephone{
  left: 10mm;
  top: 50mm;
  border-radius: 0%;
  width: 10mm;
  height: 10mm;
  font-size: medium;
}
.party-phone-lable
{
  font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    padding-left: 3pt;
    color: black;
    
}

.party-phone-number
{
  font-weight: normal;
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    color: black;
}
.bi.bi-envelope{
  left: 10mm;
  top: 50mm;
  border-radius: 0%;
  width: 10mm;
  height: 10mm;
  font-size: medium;
}
.party-email-lable
{
  font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    padding-left: 3pt;
    color: black;
}

.party-email-address
{
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  color: black;
}
.bi.bi-send{
  left: 5mm;
  top: 50mm;
  border-radius: 0%;
  width: 5mm;
  height: 5mm;
  font-size: medium;
}
btn.btn-warning{
  border-radius: 20%;
}
.party-location-label{
  font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    padding-left: 3pt;
    color: black;
}
.party-location-address{
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  color: black;
}









.card2-content
{
  position: absolute;
  top: 68%;
  left: 45%;
  transform: translate(-30%, -50%);
  text-align: center;
  color: #ffffff;
}

.org-logo-img
{
  position: absolute;
  top: -45pt;
  left: 77pt;
  height: 45mm;
  width: 45mm;
  border-radius: 200mm;
}

.org-name
{
  line-height: 94%;
  text-align-last: inherit;
  position: relative;
  top: 100pt;
  left: 5pt;
  font-style: oblique;
  font-size: 13pt;
  color: black;
}

.org-address
{
  position: absolute;
  top: 120pt;
  left: 16px;
  font-style: normal;
  font-size: 7pt;
  color: black;
}



.org-email
{
  position: absolute;
  top: 155pt;
  left: 78pt;
  font-style: normal;
  font-size: 9pt;
  color: black;
}

.org-phone
{
  position: relative;
  top: 128pt;
  left: 5px;
  font-style: normal;
  font-size: 9pt;
  color: black;
}

.org-website
{
  position: relative;
  top: 145pt;
  left: 8pt;
  font-style: normal;
  font-size: 9pt;
  color: black;
}





